<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user.name %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @item.user.telephone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @item.user.address %>
</p>

<p>
  <%= image_tag @item.display_image if @item.image.attached?%>
</p>

<strong>Comment From</strong>
 <%= form_with(model: @item_review, local: true) do |form| %>
   <div class= "field">
     <%= form.text_area :review %>
     <%= form.hidden_field :item_id, :value => @item.id %>
   </div>
   <div class="actions">
     <%= form.submit %>
   </div>
 <% end %>

<strong>Comment List</strong>
<dl>
  <% @item.item_review.each do |item_review|%>
    <dt><b><%= item_review.user.name %></b></dt>
    <dd>- <%= item_review.review %>
     <i><%= time_ago_in_words(item_review.created_at) %> ago.</i>
    </dd>
  <% end %>
</dl>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
